<a href="https://colab.research.google.com/github/PosgradoMNA/ActividadesAprendizaje-A01794419-IgnacioQuintero/blob/main/Module%205%20-%20Python_DataScience_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science - IBM Course

### Ignacio Antonio Quintero Ch√°vez - A01794419 / Module 5

### Numpy 1D Arrays

In [1]:
import numpy as np

In [2]:
x = np.array([0, 1, 2, 3, 4])

In [3]:
# Checking the type
type(x)

numpy.ndarray

In [7]:
# Checking the number of elements in the array
print(x.size)

5

In [18]:
# Checking the type of values stored in the array
x.dtype

dtype('int64')

In [14]:
# Accesing each element via a square bracket
print("x[0]:", x[0])
print("x[1]:", x[1])
print("x[2]:", x[2])
print("x[3]:", x[3])
print("x[4]:", x[4])

x[0]: 0
x[1]: 1
x[2]: 2
x[3]: 3
x[4]: 4

### Indexing and Slicing

In [15]:
my_array = ([1, 2, 3, 4, 5, 6, 7])
my_array

[1, 2, 3, 4, 5, 6, 7]

In [16]:
# Assign a new value
my_array[0] = 10
my_array

[10, 2, 3, 4, 5, 6, 7]

In [17]:
my_array[0]

10

In [20]:
# Selecting elements from the array
my_array[0:5]

[10, 2, 3, 4, 5]

In [21]:
# Assigning the selected elements to a new numpy array
new_array = my_array[0:5]
new_array

[10, 2, 3, 4, 5]

In [23]:
# We can also define the steps in slicing : [start:end:step]
print(my_array[0:7:2])

[10, 3, 5, 7]

In [25]:
# Printing the array in reverse order is also possible
print(my_array[::-1])

[7, 6, 5, 4, 3, 2, 10]

In [27]:
# Printing the even numbers
array_example = ([1, 2, 3, 4, 5, 6, 7, 8])
print(array_example[1::2])

[2, 4, 6, 8]

### Numpy Statistical Functions

In [28]:
x = np.array([1, -1, 1, -1])

In [29]:
# Obtain the mean of the array
mean = x.mean()
mean

0.0

In [30]:
# Obtain the standard deviation of the array
std_deviation = x.std()
std_deviation

1.0

In [31]:
y = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [34]:
# Obtain the biggest value in the array
max_value = y.max()
max_value

10

In [35]:
# Obtain the smallest value in the array
min_value = y.min()
min_value

1

In [36]:
# Get the sum of maximum and minimun value of the array 'z'
z = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

# Max value
value_max = z.max()

# Min value
value_min = z.min()

# Sum
total_sum = value_max + value_min
print(total_sum)

110