<a href="https://colab.research.google.com/github/PosgradoMNA/ActividadesAprendizaje-A01794419-IgnacioQuintero/blob/main/Module%204%20-%20Python_DataScience_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science - IBM Course

### Ignacio Antonio Quintero Chávez / Module 4

### Reading files with Open

In [39]:
# Reading files with Python - Lab
import urllib.request
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"
filename="Example1.txt"
urllib.request.urlretrieve(url,filename)

('Example1.txt', <http.client.HTTPMessage at 0x7fc166be7610>)

In [40]:
example1 = "Example1.txt"
file1 = open(example1, "r")

*   w = write.
*   r = read.

In [41]:
# Print the name of the file
file1.name

'Example1.txt'

In [42]:
# Muestra el modo del archivo - "w" or "r"
file1.mode

'r'

In [43]:
# Podemos leer el archivo y asignarlo a una variable

content_file = file1.read()
content_file

'This is line 1 \nThis is line 2\nThis is line 3'

In [44]:
# close() sirve para cerrar el documento. Importante hacerlo
# se puede hacer con with - buenas prácticas.
file1.close()

### Open the files using 'with' statement

Usando 'with' automáticamente se cierra el archivo. El código ejecutará todo dentro del bloque y posteriormente cerrará el archivo.

In [12]:
# Usando with:

# file1 is the File object / variable
with open(example1, "r") as file1:
  # content_file is the variable assigned.
  content_file = file1.read()
  # se imprime la variable
  print(content_file)

This is line 1
This is line 2
This is line 3

In [13]:
# Se puede verificar si el archivo está cerrado
file1.closed

True

In [14]:
# Leer los primeros 4 caracteres
with open(example1, "r") as file1:
  print(file1.read(4))

This

In [17]:
# Leer todas las líneas
with open(example1, "r") as file1:
  content_file = file1.readlines()
  print(content_file)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [18]:
# Leer la primera línea
with open(example1, "r") as file1:
  content_file = file1.readline()
  print(content_file)

This is line 1

In [19]:
# Imprimir las líneas con un loop
with open(example1, "r") as file1:
  for line in file1:
    print(line)

This is line 1

This is line 2

This is line 3

In [21]:
# Imprimir posiciones utilizando readlines
with open(example1, "r") as file1:
  # Imprimir las primeras 4 posiciones dentro del archivo
  content_file = file1.readlines(4)
  print(content_file)

['This is line 1 \n']

### Writing files with Open

In [45]:
# Open the file using the method write - "w"
example2 = "Example2.txt"
with open(example2, "w") as writefile:
  writefile.write("This is line A")

In [46]:
# Read the file
with open(example2, "r") as myfile:
  print(myfile.read())

This is line A

In [47]:
# Write multiple lines to a file
with open(example2, "w") as writefile:
  writefile.write("This is line A\n")
  writefile.write("This is line B\n")

In [48]:
with open(example2, "r") as myfile:
  print(myfile.read())

This is line A
This is line B

In [49]:
# Usando una lista
mylist = ["This is line A\n", "This is line B\n", "This is line C\n"]
mylist

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [50]:
# Escribir los strings de la lista en un archivo
with open("Example2.txt", "w") as writefile:
  # For loop - lee cada elemento de la lista y los asigna a la variable mylist
  for line in mylist:
    print(line)
    writefile.write(line)

This is line A

This is line B

This is line C

In [51]:
# Leer el archivo para confirmar cambios
with open(example2, "r") as myfile:
  print(myfile.read())

This is line A
This is line B
This is line C

### Appending files

In [52]:
# Escribir una nueva linea al archivo utilizando 'a' - append
with open("Example2.txt", "a") as myfile:
  myfile.write("This is line C\n")
  myfile.write("This is line D\n")
  myfile.write("This is line E\n")
  myfile.write("This is the last line!")

In [53]:
with open("Example2.txt", "r") as myfile:
  print(myfile.read())

This is line A
This is line B
This is line C
This is line C
This is line D
This is line E
This is the last line!

### Loading data with Pandas

In [58]:
# Importing the library
import pandas as pd

# Reading a CSV file

# The path of the csv file is stored in csv_path
# csv_path = "file1".csv

# Read the file and stored in the variable df (dataframe)
# df = pd.read_csv(csv_path)

# Using the method 'head()' to examine the first 5 rows of the dataframe
# df.head()

A dataframe is comprised of rows and columns.

In [59]:
# Create a dataframe out of a dictionary

songs={"Album":["Thriller","Back in Black","The Dark Side of the Moon","The Bodyguard","Bat Out of Hell"],
       "Released":[1982,1980,1973,1992,1977],
       "Length":["00:42:19","00:42:11","00:42:49","00:57:44","00:46:33"]}

# Casting the dictionary into a dataframe
songs_frame=pd.DataFrame(songs)

# Examining the 5 first rows
songs_frame.head()

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
3              The Bodyguard      1992  00:57:44
4            Bat Out of Hell      1977  00:46:33

### Accessing data using Pandas

In [60]:
url_file = "https://raw.githubusercontent.com/PosgradoMNA/ActividadesAprendizaje-A01794419-IgnacioQuintero/main/TopSellingAlbums.csv"
df = pd.read_csv(url_file)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [63]:
# Access to the column Length

x = df[["Length"]]
x.head()

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33

In [64]:
x = df[["Artist","Length","Genre"]]
x.head()

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock

Using the method 'iloc' you can access the first row and the first column.

In [65]:
# Access the value on the first row and the first column
df.iloc[0, 0]

'Michael Jackson'

In [66]:
# Access the value on the second row and first column
df.iloc[1,0]

'AC/DC'

In [67]:
# Access the value on the second row and the third column
df.iloc[1, 2]

1980

In [70]:
# Access the value using the name
df.loc[1, "Artist"]

'AC/DC'

In [71]:
# Access the value using the name
df.loc[2, "Released"]

1973

In [75]:
# Slicing the dataframe
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980