<a href="https://colab.research.google.com/github/PosgradoMNA/ActividadesAprendizaje-A01794419-IgnacioQuintero/blob/main/Semana_3_Actividad_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ciencia y analítica de datos
# Semana 3 - Actividad 1

*   Alumno: Ignacio Antonio Quintero Chávez
*   Matrícula: A01794419

### Parte 1: Fundamentos de base de datos

**1. Fundamentos de bases de datos y para ciencia de datos.**

Una base de datos es una colección organizada de información estructurada que normalmente está almacenada en un sistema informático. Una base de datos generalmente está controlada por un sistema de administración de bases de datos (DataBase Management System). Mediante el uso de bases de datos las empresas aprovechan de manera eficiente los datos que recopilan para utilizarlos según su conveniencia, y con esto tener una mejor toma de decisiones.

Una de las actividades de un científico de datos es interactuar con bases de datos en la mayoría de los proyectos a trabajar. A veces se necesitará crear desde cero y otras veces solo se necesitará saber como comunicarse con una base de datos ya existente.

**2. Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**

Un almacén de datos es un sistema que permite almacenar, analizar e interpretar datos para facilitar una mejor toma de decisiones. Los almacenes de datos están destinados únicamente a realizar consultas y análisis y, a menudo, contienen grandes cantidades de datos históricos. 

Los aspectos importantes en la construcción de un almacén de datos eficaz incluyen la definición de la información que es fundamental para la organización y la identificación de las fuentes de la información. Los datos se extraen periódicamente de varias aplicaciones internas como ventas, marketing y finanzas; aplicaciones de interfaz de cliente; así como sistemas de socios externos

La diferencia entre una base de datos y un almacén de datos es que la base de datos es diseñada para proporcionar información en tiempo real, mientras que el almacén de datos se diseña como un archivo de información histórica.

**Bibliografía consultada**


*  Metwalli, S. A. (2020, septiembre 27). *Databases 101: Introduction to databases for data scientists. Towards Data Science*. Recuperado el 1 de octubre de 2022, de https://towardsdatascience.com/databases-101-introduction-to-databases-for-data-scientists-ee18c9f0785d
*   *What is a data warehouse?* (s/f). Oracle.com. Recuperado el 1 de octubre de 2022, de https://www.oracle.com/database/what-is-a-data-warehouse/

### Parte 2: Selección y limpieza de datos en Python

In [1]:
# Import the libraries
import pandas as pd
import numpy as np

El primer paso es cargar y leer el data set que se proporcionó para trabajar. Se guarda en una variable llamada 'dataset'.

In [2]:
dataset = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

Posteriormente, se crea un data frame para leer el archivo CSV con el que se trabajará, se asigna en 'dataframe' y se imprime.

In [5]:
# Save the names of the columns in a list called names
names = ["ID", "amount_credit", "gender", "education", "marital_status", "age", "hist_sep", "hist_aug", "hist_jul", "hist_jun", "hist_may", "hist_apr", "amt_bill_sep", "amt_bill_aug", "amt_bill_jul", "amt_bill_jun", "amt_bill_may", "amt_bill_apr", "paid_amt_sep", "paid_amt_aug", "paid_amt_jul", "paid_amt_jun", "paid_amt_may", "paid_amt_apr", "Y"]
# Rename the column names using names.
# Delete the default index using index_col = 0
# Remove the header using header = 0. This will allow our columns names to be the headers
dataframe = pd.read_csv(dataset, names = names, index_col = 0, header = 0)
# Print the data frame
dataframe

,amount_credit,gender,education,marital_status,age,hist_sep,hist_aug,hist_jul,hist_jun,hist_may,...,amt_bill_jun,amt_bill_may,amt_bill_apr,paid_amt_sep,paid_amt_aug,paid_amt_jul,paid_amt_jun,paid_amt_may,paid_amt_apr,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [6]:
# Print our columns names
dataframe.columns

Index(['amount_credit', 'gender', 'education', 'marital_status', 'age',
       'hist_sep', 'hist_aug', 'hist_jul', 'hist_jun', 'hist_may', 'hist_apr',
       'amt_bill_sep', 'amt_bill_aug', 'amt_bill_jul', 'amt_bill_jun',
       'amt_bill_may', 'amt_bill_apr', 'paid_amt_sep', 'paid_amt_aug',
       'paid_amt_jul', 'paid_amt_jun', 'paid_amt_may', 'paid_amt_apr', 'Y'],
      dtype='object')

El contenido de nuestro data frame es el siguiente:

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:


*   amount_credit: Amount of the given credit (NT dollar - it includes both the individual consumer credit and his/her family (supplementary) credit.
*   gender: 1 = male; 2 = female.
* education: 1 = graduate school; 2 = university; 3 = high school; 4 = others.
* marital_status: 1 = married; 2 = single; 3 = others).
* age: year.
* hist_sep: Repayment status in September, 2005.
* hist_aug: Repayment status in August, 2005.
* hist_jul: Repayment status in July, 2005.
* hist_jun: Repayment status in June, 2005.
* hist_may: Repayment status in May, 2005.
* hist_apr: Repayment status in April, 2005.
* amt_bill_sep: Amount of bill statement in September, 2005.
* amt_bill_aug: Amount of bill statement in August, 2005.
* amt_bill_jul: Amount of bill statement in July, 2005.
* amt_bill_jun: Amount of bill statement in June, 2005.
* amt_bill_may: Amount of bill statement in May, 2005.
* amt_bill_apr: Amount of bill statement in April, 2005.
* paid_amt_sep: Amount paid in September ,2005.
* paid_amt_aug: Amount paid in August ,2005.
* paid_amt_jul: Amount paid in July ,2005.
* paid_amt_jun: Amount paid in June ,2005.
* paid_amt_may: Amount paid in May ,2005.
* paid_amt_apr: Amount paid in April ,2005.
* Y: Default probability.

In [7]:
# Print the first 10 rows
first_10 = dataframe.head(10)
first_10

,amount_credit,gender,education,marital_status,age,hist_sep,hist_aug,hist_jul,hist_jun,hist_may,...,amt_bill_jun,amt_bill_may,amt_bill_apr,paid_amt_sep,paid_amt_aug,paid_amt_jul,paid_amt_jun,paid_amt_may,paid_amt_apr,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
6,50000,1.0,1.0,2.0,37.0,0.0,0.0,0.0,0.0,0.0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0.0
7,500000,1.0,1.0,2.0,29.0,0.0,0.0,0.0,0.0,0.0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0.0
8,100000,2.0,2.0,2.0,23.0,0.0,-1.0,-1.0,0.0,0.0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0.0
9,140000,2.0,3.0,1.0,28.0,0.0,0.0,2.0,0.0,0.0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0.0
10,20000,1.0,3.0,2.0,35.0,-2.0,-2.0,-2.0,-2.0,-1.0,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0.0

El siguiente paso es entender la información que contiene el data frame. Cuantas columnas, cuantos registros, y los tipos de cada dato por columna.

In [8]:
# Get the dataframe information
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   amount_credit   30000 non-null  int64
 1   gender          29999 non-null  float64
 2   education       29998 non-null  float64
 3   marital_status  29998 non-null  float64
 4   age             29995 non-null  float64
 5   hist_sep        29997 non-null  float64
 6   hist_aug        29995 non-null  float64
 7   hist_jul        29993 non-null  float64
 8   hist_jun        29991 non-null  float64
 9   hist_may        29984 non-null  float64
 10  hist_apr        29986 non-null  float64
 11  amt_bill_sep    29989 non-null  float64
 12  amt_bill_aug    29989 non-null  float64
 13  amt_bill_jul    29987 non-null  float64
 14  amt_bill_jun    29985 non-null  float64
 15  amt_bill_may    29983 non-null  float64
 16  amt_bill_apr    29990 non-null  float64
 17  paid_amt_sep    29992 non-null  float64
 18  paid_amt_aug    29991 non-null  float64
 19  paid_amt_jul    29992 non-null  float64
 20  paid_amt_jun    29989 non-null  float64
 21  paid_amt_may    29989 non-null  float64
 22  paid_amt_apr    29995 non-null  float64
 23  Y               29997 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 5.7 MB

Adicionalmente, para saber el tipo de dato de cada columna se puede utilizar el siguiente comando.

In [9]:
# Get the dataframe data types
dataframe.dtypes

amount_credit       int64
gender            float64
education         float64
marital_status    float64
age               float64
hist_sep          float64
hist_aug          float64
hist_jul          float64
hist_jun          float64
hist_may          float64
hist_apr          float64
amt_bill_sep      float64
amt_bill_aug      float64
amt_bill_jul      float64
amt_bill_jun      float64
amt_bill_may      float64
amt_bill_apr      float64
paid_amt_sep      float64
paid_amt_aug      float64
paid_amt_jul      float64
paid_amt_jun      float64
paid_amt_may      float64
paid_amt_apr      float64
Y                 float64
dtype: object

Validamos si existen datos perdidos.

In [11]:
dataframe.isnull().values.any()

True

Anteriormente, al obtener la información del data frame se podía verificar que columnas tienen datos perdidos. Otra forma de saberlo es mediante el siguiente paso.

In [12]:
dataframe.isnull().any()

amount_credit     False
gender             True
education          True
marital_status     True
age                True
hist_sep           True
hist_aug           True
hist_jul           True
hist_jun           True
hist_may           True
hist_apr           True
amt_bill_sep       True
amt_bill_aug       True
amt_bill_jul       True
amt_bill_jun       True
amt_bill_may       True
amt_bill_apr       True
paid_amt_sep       True
paid_amt_aug       True
paid_amt_jul       True
paid_amt_jun       True
paid_amt_may       True
paid_amt_apr       True
Y                  True
dtype: bool